---
title: index
---
<!DOCTYPE html>

<html lang='en'>
<head>
    <title>Gavin Kerrigan</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Gavin Kerrigan is a PhD student studying machine learning.'>
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computational statistics,
        linear algebra,
        numerical linear algebra,
        statistical software,
        deep learning,
        computer science,
        diffusion models,
        generative models
    '>
    <meta name='author' content='Gavin Kerrigan'>

    <link rel="shortcut icon" href="/favicon.ico?">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='/css/home.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='about', class='wrap'>
        <div id='name'>
	        Gavin Kerrigan
        </div>
        
        <div id='contact'>
            [firstname].k@uci.edu
        </div>
                
        <div id='body'>
            <p>
                I'm a PhD student studying machine learning at the <a href='https://www.cs.uci.edu/'>University of California, Irvine</a>, where I am advised by <a href='https://www.ics.uci.edu/~smyth/index.html'>Dr. Padhraic Smyth</a>. My work is supported by an <a href='https://hpi.ics.uci.edu/'>HPI Fellowship</a>.
            </p>
            <p> 
                <b>Research interests:</b> generative models, machine learning in non-Euclidean spaces, stochastic processes, functional data analysis
            </p>
            <p>
                <b>Previously:</b> BSc in Mathematics at the <a href='https://www.shc.psu.edu/'> Pennsylvania State University Schreyer Honors College</a>. 
            </p>

            <div id='ack'>
                This site is based in part on the public template by <a href='https://gregorygundersen.com/'>Gregory Gunderson</a>.
            </div>
        </div>

        <div id='profile'>
            <img src='assets/img/myface.png' alt='Me' class='img-fluid'>
        </div>

        
        
        
    </div>
</body>
</html>
