---
title: notes
---

<html>
<head>
    <title>Gavin Kerrigan</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Gavin Kerrigan is a PhD student studying machine learning.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computational statistics,
        linear algebra,
        numerical linear algebra,
        statistical software,
        deep learning,
        computer science,
        diffusion models,
        generative models,
        Gavin Kerrigan,
        UCI
    '>
    <meta name='author' content='Gavin Kerrigan'>

    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
	<style>
	/* Remove bullet points */
	ul {
	    list-style-type: none;
	    padding-left: 0;
	}

	/* Style for chapters and sections */
	.topic {
	    margin-top: 1em;
	    font-size: 1.2em;
	    font-weight: bold;
	    margin-left: 0em;
	}
	
	.chapter {
	    margin-top: 0em;
	    font-weight: bold;
	    margin-left: 1.5em;
	}

	.section {
	    margin-top: 0em;
	    font-weight: normal;
	    margin-left: 3em;
	}


	</style>
</head>

<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
    	<h1> Notes </h1>
                {% assign topics = site.notes | group_by: "topic" %}
                {% for topic in topics %}
                    <div class="topic">{{ topic.name }}</div>
                    {% assign chapters = topic.items | group_by: "chapter" %}
                    {% for chapter in chapters %}
                        <div class="chapter">{{ chapter.name }}</div>
                        {% assign sections = chapter.items | sort: "section" %}
                        {% for section in sections %}
                            <div class="section">{{ forloop.parentloop.index }}.{{ forloop.index }}: <a href="{{ section.url }}">{{ section.title }}</a></div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
	
    </div>
</body>
</html>
